@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

@import 'base/variables';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/leistungen';
@import 'blocks/team';
@import 'blocks/partner';
@import 'blocks/questions';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/pageup';
@import 'blocks/datenschutz';
@import 'blocks/media';